<div class="hero-section">
  <div class="card border-0 rounded-0">
    <%= image_tag 'blog_hero_bg.webp', class: 'card-img' %>
    <div class="card-img-overlay d-flex flex-column justify-content-center text-center">
      <div class="container text-white pb-5">
        <h5 class="card-title h1">Blogs</h5>
        <nav class="mb-5 mt-4" aria-label="breadcrumb">
          <ol class="breadcrumb mx-auto">
            <li class="breadcrumb-item"><a href="/" class="text-white">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Blog</li>
          </ol>
        </nav>
      </div>
    </div>
  </div>
</div>