<div class="col-12 col-md-6 col-lg-4 mb-3">
  <%= link_to directed_link do %>
    <div class="blog-card position-relative">
      <%= image_tag "#{img}", class: 'img-fluid', alt: "A'sTechware Blog #{title}" %>
      <div class="caption">
        <p><%= date %></p> 
        <h3><%= title %></h3>
      </div>
    </div>
  <% end %>
</div>