<!-- Hero Section -->
<div class="hero-section">
    <div class="card border-0 rounded-0">
        <%= image_tag 'https://images.pexels.com/photos/6469/red-hands-woman-creative.jpg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1', class: 'card-img' %>
        <div class="card-img-overlay d-flex flex-column justify-content-center text-center">
            <div class="container text-white pb-5">
                <h5 class="card-title h1">Our Team</h5>
                <nav class="mb-5 mt-4" aria-label="breadcrumb">
                    <ol class="breadcrumb mx-auto">
                        <li class="breadcrumb-item"><a href="#" class="text-white">Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Team</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>

<div class="inner-sections container">
    <section id="who-we-are" class="transition-block show" data-class="BlockTeam">
        <div class="team-wrapper" style="height: 1596px;">
            <div class="wrapper">
                <blockquote class="display-4 fw-bold quote mb-5">PRENDRE PLAISIR DANS SON TRAVAIL MENE A A PERFECTION</blockquote>

                <div class="position-relative">
                    <div
                        class="bulle small-info hover"
                        data-id="founders"
                        data-type="big"
                        data-x="28,141.0034637451172,177,206,332.0034637451172"
                        data-y="130.5,181.28124237060547,116,125,94.12847137451172"
                        data-filter="founder"
                        style="transform: matrix(1, 0, 0, 1, 664.007, 218.257); opacity: 1;"
                    >
                        <div class="transition-block bubble-wrapper" data-class="BlockColor" style="opacity: 1; transform: matrix(1, 0, 0, 1, 0, 0);">
                            <div class="circle" style="background: #1ea2e0;"></div>
                            <div class="text"><span>2</span> founders</div>
                        </div>
                    </div>
                    <div
                        class="bulle small-info hover"
                        data-id="partners"
                        data-type="big"
                        data-x="-12,3,110,248,229.0034637451172"
                        data-y="1375,1003,977,353,623.1284713745117"
                        data-filter="partner"
                        style="transform: matrix(1, 0, 0, 1, 458.007, 1276.26); opacity: 1;"
                    >
                        <div class="transition-block bubble-wrapper" data-class="BlockColor" style="opacity: 1; transform: matrix(1, 0, 0, 1, 0, 0);">
                            <div class="circle" style="background: #8165a6;"></div>
                            <div class="text"><span>5</span> partners</div>
                        </div>
                    </div>
                    <div
                        class="bulle small-info hover"
                        data-id="motion"
                        data-type="big"
                        data-x="70.00346374511719,120,267,413,518.0034637451172"
                        data-y="940.1285095214844,860,643,596,472.1284713745117"
                        data-filter="motion-designer"
                        style="transform: matrix(1, 0, 0, 1, 1036.01, 974.257); opacity: 1;"
                    >
                        <div class="transition-block bubble-wrapper" data-class="BlockColor" style="opacity: 1; transform: matrix(1, 0, 0, 1, 0, 0);">
                            <div class="circle" style="background: #8165a6;"></div>
                            <div class="text"><span>motion</span>designers</div>
                        </div>
                    </div>
                    <a href="#" class="bulle big-info hover" data-id="group" data-type="big" data-x="118,166,146,316,378.0034637451172" data-y="617,958,343,272,313.1284713745117" style="transform: matrix(1, 0, 0, 1, 756.007, 656.257);">
                        <div class="transition-block bubble-wrapper" data-class="BlockColor" style="opacity: 1; transform: matrix(1, 0, 0, 1, 0, 0);">
                            <div class="circle" style="background: #070707"></div>
                            <div class="text">Fiers de faire partie de <span>
                                <svg style="width:116px;height:24px;"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#logo-mcsaatchi"></use></svg>
                            </span></div>
                        </div>
                    </a>
                    <div
                        class="bulle small-info hover"
                        data-id="ux"
                        data-type="big"
                        data-x="13.003463745117188,185,261,340,435"
                        data-y="521.1284713745117,625,108,40,55"
                        data-filter="ux-designer"
                        style="transform: matrix(1, 0, 0, 1, 870, 140); opacity: 1;"
                    >
                        <div class="transition-block bubble-wrapper" data-class="BlockColor" style="opacity: 1; transform: matrix(1, 0, 0, 1, 0, 0);">
                            <div class="circle" style="background: #8165a6;"></div>
                            <div class="text"><span>UX</span>designers</div>
                        </div>
                    </div>
                    <div
                        class="bulle small-info hover"
                        data-id="producers"
                        data-type="big"
                        data-x="125,82,94.00346374511719,32,108.00346374511719"
                        data-y="1253,1144,576.2812423706055,518,523.1284713745117"
                        data-filter="producer"
                        style="transform: matrix(1, 0, 0, 1, 216.007, 1076.26); opacity: 1;"
                    >
                        <div class="transition-block bubble-wrapper" data-class="BlockColor" style="opacity: 1; transform: matrix(1, 0, 0, 1, 0, 0);">
                            <div class="circle" style="background: #2f2f5f;"></div>
                            <div class="text">producers</div>
                        </div>
                    </div>
                    <div
                        class="bulle small-info hover"
                        data-id="developers"
                        data-type="big"
                        data-x="98.00346374511719,7.0034637451171875,-0.9965362548828125,88.00346374511719,157.0034637451172"
                        data-y="259.1284713745117,334.28124237060547,250.28125,274.28125,258.1284713745117"
                        data-filter="developer"
                        style="transform: matrix(1, 0, 0, 1, 314.007, 546.257); opacity: 1;"
                    >
                        <div class="transition-block bubble-wrapper" data-class="BlockColor" style="opacity: 1; transform: matrix(1, 0, 0, 1, 0, 0);">
                            <div class="circle" style="background: #1ea2e0;"></div>
                            <div class="text">developers</div>
                        </div>
                    </div>
                    <div class="bulle small-info hover" data-id="cm" data-type="big" data-x="-6,193,48,249,458" data-y="1245,1489,798,678,664" data-filter="community-manager" style="transform: matrix(1, 0, 0, 1, 916, 1358); opacity: 1;">
                        <div class="transition-block bubble-wrapper" data-class="BlockColor" style="opacity: 1; transform: matrix(1, 0, 0, 1, 0, 0);">
                            <div class="circle" style="background: #c5397a;"></div>
                            <div class="text"><span>community</span>managers</div>
                        </div>
                    </div>
                    <div
                        class="bulle small-info hover"
                        data-id="strategists"
                        data-type="big"
                        data-x="128,92,166,295,573"
                        data-y="1337,1289,833,737,548"
                        data-filter="strategist"
                        style="transform: matrix(1, 0, 0, 1, 1146, 1126); opacity: 1;"
                    >
                        <div class="transition-block bubble-wrapper" data-class="BlockColor" style="opacity: 1; transform: matrix(1, 0, 0, 1, 0, 0);">
                            <div class="circle" style="background: #1ea2e0;"></div>
                            <div class="text">strategists</div>
                        </div>
                    </div>

                    <div
                        class="bulle small-info hover"
                        data-id="creatives"
                        data-type="big"
                        data-x="46.00346374511719,206,226,466,565.0034637451172"
                        data-y="719.1285095214844,812,484,490,188.12847137451172"
                        data-filter="creative"
                        style="transform: matrix(1, 0, 0, 1, 1130.01, 406.257); opacity: 1;"
                    >
                        <div class="transition-block bubble-wrapper" data-class="BlockColor" style="opacity: 1; transform: matrix(1, 0, 0, 1, 0, 0);">
                            <div class="circle" style="background: #c5397a;"></div>
                            <div class="text">creatives</div>
                        </div>
                    </div>

                    <div class="bulle big-info" data-id="fwa" data-type="big" data-x="-5,179,112.00346374511719,326,112" data-y="1551,1386,743.2812423706055,648,606" style="transform: matrix(1, 0, 0, 1, 224, 1242); opacity: 1;">
                        <div class="transition-block bubble-wrapper" data-class="BlockColor" style="opacity: 1; transform: matrix(1, 0, 0, 1, 0, 0);">
                            <div class="circle" style="background: #2f2f5f;"></div>
                            <div class="text">
                                <span>13</span>
                                <svg style="width: 63px; height: 20px;">
                                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#logo-fwa"></use>
                                </svg>
                            </div>
                        </div>
                    </div>
                    <div class="bulle big-info" data-id="awwwards" data-type="big" data-x="7,157,9,31,66" data-y="418,1093,362,352,199" style="transform: matrix(1, 0, 0, 1, 132, 428); opacity: 1;">
                        <div class="transition-block bubble-wrapper" data-class="BlockColor" style="opacity: 1; transform: matrix(1, 0, 0, 1, 0, 0);">
                            <div class="circle" style="background: #c5397a;"></div>
                            <div class="text">
                                <span>8</span>
                                <img src="https://www.fcinq.com/v3/wp-content/themes/fcinq/img/logo-awwwards.png" alt="Logo Awwwards" />
                            </div>
                        </div>
                    </div>

                    <div
                        class="bulle small-info"
                        data-id="creation"
                        data-type="small"
                        data-x="32,15,-1.9965362548828125,9.003463745117188,126"
                        data-y="1479,1323,489.28124237060547,226.28125,129"
                        style="transform: matrix(1, 0, 0, 1, 252, 288); opacity: 1;"
                    >
                        <div class="transition-block bubble-wrapper" data-class="BlockColor" style="opacity: 1; transform: matrix(1, 0, 0, 1, 0, 0);">
                            <div class="circle" style="background: #73c2d5;"></div>
                            <div class="text">created in<span>2008</span></div>
                        </div>
                    </div>
                    <div
                        class="bulle small-info"
                        data-id="partnership"
                        data-type="small"
                        data-x="0.0034637451171875,174,355.0034637451172,22,343"
                        data-y="1084.1285095214844,1196,844.2812423706055,704,404"
                        style="transform: matrix(1, 0, 0, 1, 686, 838); opacity: 1;"
                    >
                        <div class="transition-block bubble-wrapper" data-class="BlockColor" style="opacity: 1; transform: matrix(1, 0, 0, 1, 0, 0);">
                            <div class="circle" style="background: #73c2d5;"></div>
                            <div class="text">
                                <svg style="width: 44px; height: 44px;">
                                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#favorite"></use>
                                </svg>
                                <br />
                                partnership
                            </div>
                        </div>
                    </div>
                    <div class="bulle big-info" data-id="projects" data-type="big" data-x="107.00346374511719,-8,190,213,291" data-y="763.1285095214844,867,559,579,476" style="transform: matrix(1, 0, 0, 1, 582, 982); opacity: 1;">
                        <div class="transition-block bubble-wrapper" data-class="BlockColor" style="opacity: 1; transform: matrix(1, 0, 0, 1, 0, 0);">
                            <div class="circle" style="background: #1ea2e0;"></div>
                            <div class="text"><span>+200</span>&nbsp;&nbsp;&nbsp;projects</div>
                        </div>
                    </div>

                    <div class="bulle bulle-mate creative alternate" data-id="9128" data-type="alternate" data-x="73,117,14,261,194,355" data-y="1249,1226,755,804,685,100" style="transform: matrix(1, 0, 0, 1, 388, 1400); opacity: 1;">
                        <div class="transition-block bubble-wrapper" data-class="BlockColor" style="opacity: 1; transform: matrix(1, 0, 0, 1, 0, 0);">
                            <div class="image-wrapper">
                                <img src="https://www.fcinq.com/v3/wp-content/uploads/team/lucas.jpg" alt="Lucas Guyon Copywriter" />
                                <img src="https://www.fcinq.com/v3/wp-content/themes/fcinq/img/gradient.png" alt="" class="gradient" />
                                <img src="https://www.fcinq.com/v3/wp-content/uploads/team/lucas_blue.jpg" alt="" class="color" />
                            </div>
                            <div class="bulle-mate-info">
                                <span class="close-bulle-mate-info"></span>
                                <h4>Lucas Guyon</h4>
                                <p>Copywriter</p>
                                <br />
                                <a class="linkedin" href="https://www.linkedin.com/in/lucas-g-5007bb107/" title="Follow Lucas Guyon onlinkedin" target="_blank">
                                    Lucas Guyon on linkedin
                                </a>
                                <a class="twitter" href="https://twitter.com/LucasGuyon" title="Follow Lucas Guyon ontwitter" target="_blank">
                                    Lucas Guyon on twitter
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="bulle bulle-mate developer alternate" data-id="9125" data-type="alternate" data-x="45,22,284,377,371,355" data-y="1626,1400,920,746,713,100" style="transform: matrix(1, 0, 0, 1, 742, 1456); opacity: 1;">
                        <div class="transition-block bubble-wrapper" data-class="BlockColor" style="opacity: 1; transform: matrix(1, 0, 0, 1, 0, 0);">
                            <div class="image-wrapper">
                                <img src="https://www.fcinq.com/v3/wp-content/uploads/team/fredo.jpg" alt="Frédéric Devaux Web Developer" />
                                <img src="https://www.fcinq.com/v3/wp-content/themes/fcinq/img/gradient.png" alt="" class="gradient" />
                                <img src="https://www.fcinq.com/v3/wp-content/uploads/team/fredo_purple.jpg" alt="" class="color" />
                            </div>
                            <div class="bulle-mate-info">
                                <span class="close-bulle-mate-info"></span>
                                <h4>Frédéric Devaux</h4>
                                <p>Web Developer</p>
                                <br />
                                <a class="linkedin" href="https://www.linkedin.com/in/f-devaux/" title="Follow Frédéric Devaux onlinkedin" target="_blank">
                                    Frédéric Devaux on linkedin
                                </a>
                                <a class="twitter" href="https://twitter.com/frederic_dvx" title="Follow Frédéric Devaux ontwitter" target="_blank">
                                    Frédéric Devaux on twitter
                                </a>
                            </div>
                        </div>
                    </div>
                    <div
                        class="bulle bulle-mate motion-designer creative employee"
                        data-id="9122"
                        data-type="employee"
                        data-x="82,90,79,148,267,355"
                        data-y="1557,1470,877,797,693,100"
                        style="transform: matrix(1, 0, 0, 1, 534, 1416); opacity: 1;"
                    >
                        <div class="transition-block bubble-wrapper" data-class="BlockColor" style="opacity: 1; transform: matrix(1, 0, 0, 1, 0, 0);">
                            <div class="image-wrapper">
                                <img
                                    src="https://www.fcinq.com/v3/wp-content/uploads/team/alejandra.jpg"
                                    alt="Alejandra Fernández Ramos Art Director &amp;
                  Motion Designer"
                                />
                                <img src="https://www.fcinq.com/v3/wp-content/themes/fcinq/img/gradient.png" alt="" class="gradient" />
                                <img src="https://www.fcinq.com/v3/wp-content/uploads/team/alejandra_turquoise.jpg" alt="" class="color" />
                            </div>
                            <div class="bulle-mate-info">
                                <span class="close-bulle-mate-info"></span>
                                <h4>Alejandra Fernández Ramos</h4>
                                <p>Art Director &amp; Motion Designer</p>
                                <br />
                                <a class="linkedin" href="https://www.linkedin.com/in/alejandra-fern%C3%A1ndez/" title="Follow Alejandra Fernández Ramos onlinkedin" target="_blank">
                                    Alejandra Fernández Ramos on linkedin
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="bulle bulle-mate producer employee" data-id="9118" data-type="employee" data-x="93,-19,316,324,496,355" data-y="1101,1104,166,376,100,100" style="transform: matrix(1, 0, 0, 1, 992, 230); opacity: 1;">
                        <div class="transition-block bubble-wrapper" data-class="BlockColor" style="opacity: 1; transform: matrix(1, 0, 0, 1, 0, 0);">
                            <div class="image-wrapper">
                                <img src="https://www.fcinq.com/v3/wp-content/uploads/team/guillaume-1.jpg" alt="Guillaume Le Mée Production Manager" />
                                <img src="https://www.fcinq.com/v3/wp-content/themes/fcinq/img/gradient.png" alt="" class="gradient" />
                                <img src="https://www.fcinq.com/v3/wp-content/uploads/team/guillaume-1_pink.jpg" alt="" class="color" />
                            </div>
                            <div class="bulle-mate-info">
                                <span class="close-bulle-mate-info"></span>
                                <h4>Guillaume Le Mée</h4>
                                <p>Production Manager</p>
                                <br />
                                <a class="linkedin" href="https://www.linkedin.com/in/guillaume-le-m%C3%A9e-52529a29/" title="Follow Guillaume Le Mée onlinkedin" target="_blank">
                                    Guillaume Le Mée on linkedin
                                </a>
                                <a
                                    class="twitter"
                                    href="https://twitter.com/Abzdil?s=20"
                                    title="Follow
                  Guillaume Le Mée ontwitter"
                                    target="_blank"
                                >
                                    Guillaume Le Mée on twitter
                                </a>
                            </div>
                        </div>
                    </div>
                    <div
                        class="bulle bulle-mate motion-designer creative alternate"
                        data-id="9111"
                        data-type="alternate"
                        data-x="117,157,220,414,511,355"
                        data-y="1192.5,790.5,426.5,337,221,100"
                        style="transform: matrix(1, 0, 0, 1, 1022, 472); opacity: 1;"
                    >
                        <div class="transition-block bubble-wrapper" data-class="BlockColor" style="opacity: 1; transform: matrix(1, 0, 0, 1, 0, 0);">
                            <div class="image-wrapper">
                                <img src="https://www.fcinq.com/v3/wp-content/uploads/team/alix-2.jpg" alt="Alix Chabagny Graphic Designer" />
                                <img src="https://www.fcinq.com/v3/wp-content/themes/fcinq/img/gradient.png" alt="" class="gradient" />
                                <img src="https://www.fcinq.com/v3/wp-content/uploads/team/alix-2_blue.jpg" alt="" class="color" />
                            </div>
                            <div class="bulle-mate-info">
                                <span class="close-bulle-mate-info"></span>
                                <h4>Alix Chabagny</h4>
                                <p>Graphic Designer</p>
                                <br />
                                <a class="linkedin" href="https://www.linkedin.com/in/alix-chabagny-829a79180" title="Follow Alix Chabagny onlinkedin" target="_blank">
                                    Alix Chabagny on linkedin
                                </a>
                            </div>
                        </div>
                    </div>
                    <div
                        class="bulle bulle-mate strategist community-manager alternate"
                        data-id="9108"
                        data-type="alternate"
                        data-x="143,204,250,222,281,355"
                        data-y="924.5,408.5,367.5,760.5,420,100"
                        style="transform: matrix(1, 0, 0, 1, 562, 870); opacity: 1;"
                    >
                        <div class="transition-block bubble-wrapper" data-class="BlockColor" style="opacity: 1; transform: matrix(1, 0, 0, 1, 0, 0);">
                            <div class="image-wrapper">
                                <img src="https://www.fcinq.com/v3/wp-content/uploads/team/louis.jpg" alt="Louis Renard Social Media Strategist" />
                                <img src="https://www.fcinq.com/v3/wp-content/themes/fcinq/img/gradient.png" alt="" class="gradient" />
                                <img src="https://www.fcinq.com/v3/wp-content/uploads/team/louis_purple.jpg" alt="" class="color" />
                            </div>
                            <div class="bulle-mate-info">
                                <span class="close-bulle-mate-info"></span>
                                <h4>Louis Renard</h4>
                                <p>Social Media Strategist</p>
                                <br />
                                <a class="linkedin" href="https://www.linkedin.com/in/louis-renard/" title="Follow Louis Renard onlinkedin" target="_blank">
                                    Louis Renard on linkedin
                                </a>
                                <a class="twitter" href="https://twitter.com/LouisRenard13" title="Follow Louis Renard ontwitter" target="_blank">
                                    Louis Renard on twitter
                                </a>
                            </div>
                        </div>
                    </div>
                    <div
                        class="bulle bulle-mate strategist community-manager employee"
                        data-id="9105"
                        data-type="employee"
                        data-x="83,65,342,426,473,355"
                        data-y="848.5,935,649.5,388,554.5,100"
                        style="transform: matrix(1, 0, 0, 1, 946, 1139); opacity: 1;"
                    >
                        <div class="transition-block bubble-wrapper" data-class="BlockColor" style="opacity: 1; transform: matrix(1, 0, 0, 1, 0, 0);">
                            <div class="image-wrapper">
                                <img src="https://www.fcinq.com/v3/wp-content/uploads/team/sophiane.jpg" alt="Sophiane Laby Social Media Strategist" />
                                <img src="https://www.fcinq.com/v3/wp-content/themes/fcinq/img/gradient.png" alt="" class="gradient" />
                                <img src="https://www.fcinq.com/v3/wp-content/uploads/team/sophiane_turquoise.jpg" alt="" class="color" />
                            </div>
                            <div class="bulle-mate-info">
                                <span class="close-bulle-mate-info"></span>
                                <h4>Sophiane Laby</h4>
                                <p>Social Media Strategist</p>
                                <br />
                                <a class="linkedin" href="https://www.linkedin.com/in/sophianelaby" title="Follow Sophiane Laby onlinkedin" target="_blank">
                                    Sophiane Laby on linkedin
                                </a>
                                <a class="twitter" href="https://twitter.com/_slaby_" title="Follow Sophiane Laby ontwitter" target="_blank">
                                    Sophiane Laby on twitter
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="bulle bulle-mate producer employee" data-id="7064" data-type="employee" data-x="61,169,181,90,543,355" data-y="1398,1280,909,443.5,629,100" style="transform: matrix(1, 0, 0, 1, 1086, 1288); opacity: 1;">
                        <div class="transition-block bubble-wrapper" data-class="BlockColor" style="opacity: 1; transform: matrix(1, 0, 0, 1, 0, 0);">
                            <div class="image-wrapper">
                                <img src="https://www.fcinq.com/v3/wp-content/uploads/team/quentin-pp.jpg" alt="Quentin Boutonnet Producer" />
                                <img src="https://www.fcinq.com/v3/wp-content/themes/fcinq/img/gradient.png" alt="" class="gradient" />
                                <img src="https://www.fcinq.com/v3/wp-content/uploads/team/quentin-pp_purple.jpg" alt="" class="color" />
                            </div>
                            <div class="bulle-mate-info">
                                <span class="close-bulle-mate-info"></span>
                                <h4>Quentin Boutonnet</h4>
                                <p>Producer</p>
                                <br />
                                <a class="linkedin" href="https://www.linkedin.com/in/quentinboutonnet/" title="Follow Quentin Boutonnet onlinkedin" target="_blank">
                                    Quentin Boutonnet on linkedin
                                </a>
                                <a class="twitter" href="https://twitter.com/kentinours" title="Follow Quentin Boutonnet ontwitter" target="_blank">
                                    Quentin Boutonnet on twitter
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="bulle bulle-mate creative employee" data-id="6718" data-type="employee" data-x="9,88,283,363,487,355" data-y="799,643,408,468,288,100" style="transform: matrix(1, 0, 0, 1, 974, 606); opacity: 1;">
                        <div class="transition-block bubble-wrapper" data-class="BlockColor" style="opacity: 1; transform: matrix(1, 0, 0, 1, 0, 0);">
                            <div class="image-wrapper">
                                <img src="https://www.fcinq.com/v3/wp-content/uploads/team/santi.jpg" alt="Santiago Alcalde Copywriter" />
                                <img src="https://www.fcinq.com/v3/wp-content/themes/fcinq/img/gradient.png" alt="" class="gradient" />
                                <img src="https://www.fcinq.com/v3/wp-content/uploads/team/santi_turquoise.jpg" alt="" class="color" />
                            </div>
                            <div class="bulle-mate-info">
                                <span class="close-bulle-mate-info"></span>
                                <h4>Santiago Alcalde</h4>
                                <p>Copywriter</p>
                                <br />
                            </div>
                        </div>
                    </div>
                    <div
                        class="bulle bulle-mate motion-designer creative employee"
                        data-id="789"
                        data-type="employee"
                        data-x="7,193,323,444,565,355"
                        data-y="996,889,748,129,384,100"
                        style="transform: matrix(1, 0, 0, 1, 1130, 798); opacity: 1;"
                    >
                        <div class="transition-block bubble-wrapper" data-class="BlockColor" style="opacity: 1; transform: matrix(1, 0, 0, 1, 0, 0);">
                            <div class="image-wrapper">
                                <img src="https://www.fcinq.com/v3/wp-content/uploads/team/edouard.jpg" alt="Edouard Ollivier Graphic/Motion Designer" />
                                <img src="https://www.fcinq.com/v3/wp-content/themes/fcinq/img/gradient.png" alt="" class="gradient" />
                                <img src="https://www.fcinq.com/v3/wp-content/uploads/team/edouard_blue.jpg" alt="" class="color" />
                            </div>
                            <div class="bulle-mate-info">
                                <span class="close-bulle-mate-info"></span>
                                <h4>Edouard Ollivier</h4>
                                <p>Graphic/Motion Designer</p>
                                <br />
                                <a class="linkedin" href="https://fr.linkedin.com/in/edouard-ollivier-b29a25a9" title="Follow Edouard Ollivier onlinkedin" target="_blank">
                                    Edouard Ollivier on linkedin
                                </a>
                            </div>
                        </div>
                    </div>
                    <div
                        class="bulle bulle-mate producer employee"
                        data-id="559"
                        data-type="employee"
                        data-x="26,8,144.0034637451172,8.003463745117188,24,355"
                        data-y="1163,1214,647.2812423706055,596.28125,450,100"
                        style="transform: matrix(1, 0, 0, 1, 48, 930); opacity: 1;"
                    >
                        <div class="transition-block bubble-wrapper" data-class="BlockColor" style="opacity: 1; transform: matrix(1, 0, 0, 1, 0, 0);">
                            <div class="image-wrapper">
                                <img src="https://www.fcinq.com/v3/wp-content/uploads/team/charlotte-2.jpg" alt="Charlotte Graff Production Manager" />
                                <img src="https://www.fcinq.com/v3/wp-content/themes/fcinq/img/gradient.png" alt="" class="gradient" />
                                <img src="https://www.fcinq.com/v3/wp-content/uploads/team/charlotte-2_purple.jpg" alt="" class="color" />
                            </div>
                            <div class="bulle-mate-info">
                                <span class="close-bulle-mate-info"></span>
                                <h4>Charlotte Graff</h4>
                                <p>Production Manager</p>
                                <br />
                                <a class="linkedin" href="https://fr.linkedin.com/in/graffcharlotte" title="Follow Charlotte Graff onlinkedin" target="_blank">
                                    Charlotte Graff on linkedin
                                </a>
                                <a class="instagram" href="https://www.instagram.com/chagraff/" title="Follow Charlotte Graff oninstagram" target="_blank">
                                    Charlotte Graff on instagram
                                </a>
                                <a class="twitter" href="https://twitter.com/Charlottegraff" title="Follow Charlotte Graff ontwitter" target="_blank">
                                    Charlotte Graff on twitter
                                </a>
                            </div>
                        </div>
                    </div>
                    <div
                        class="bulle bulle-mate motion-designer creative employee"
                        data-id="168"
                        data-type="employee"
                        data-x="116,79,-24,40,13"
                        data-y="1476,1366.5,867,779.5,560.5"
                        style="transform: matrix(1, 0, 0, 1, 26, 1151); opacity: 1;"
                    >
                        <div class="transition-block bubble-wrapper" data-class="BlockColor" style="opacity: 1; transform: matrix(1, 0, 0, 1, 0, 0);">
                            <div class="image-wrapper">
                                <img
                                    src="https://www.fcinq.com/v3/wp-content/uploads/team/guillaume.jpg"
                                    alt="Guillaume Sola Art Director &amp; Motion
                  Designer"
                                />
                                <img src="https://www.fcinq.com/v3/wp-content/themes/fcinq/img/gradient.png" alt="" class="gradient" />
                                <img src="https://www.fcinq.com/v3/wp-content/uploads/team/guillaume_pink.jpg" alt="" class="color" />
                            </div>
                            <div class="bulle-mate-info">
                                <span class="close-bulle-mate-info"></span>
                                <h4>Guillaume Sola</h4>
                                <p>Art Director &amp; Motion Designer</p>
                                <br />
                                <a class="linkedin" href="https://fr.linkedin.com/in/guillaume-sola-108247b9" title="Follow Guillaume Sola onlinkedin" target="_blank">
                                    Guillaume Sola on linkedin
                                </a>
                                <a class="twitter" href="https://twitter.com/sola_guillaume" title="Follow Guillaume Sola ontwitter" target="_blank">
                                    Guillaume Sola on twitter
                                </a>
                            </div>
                        </div>
                    </div>
                    <div
                        class="bulle bulle-mate motion-designer creative employee"
                        data-id="164"
                        data-type="employee"
                        data-x="-12.996536254882812,-15.996536254882812,245,309,456.0034637451172"
                        data-y="900.1285095214844,628.2812461853027,819,552,381.1284713745117"
                        style="transform: matrix(1, 0, 0, 1, 912.007, 792.257); opacity: 1;"
                    >
                        <div class="transition-block bubble-wrapper" data-class="BlockColor" style="opacity: 1; transform: matrix(1, 0, 0, 1, 0, 0);">
                            <div class="image-wrapper">
                                <img
                                    src="https://www.fcinq.com/v3/wp-content/uploads/team/priscillien.jpg"
                                    alt="Priscillien Gac Art Director &amp; Motion
                  Designer"
                                />
                                <img src="https://www.fcinq.com/v3/wp-content/themes/fcinq/img/gradient.png" alt="" class="gradient" />
                                <img src="https://www.fcinq.com/v3/wp-content/uploads/team/priscillien_pink.jpg" alt="" class="color" />
                            </div>
                            <div class="bulle-mate-info">
                                <span class="close-bulle-mate-info"></span>
                                <h4>Priscillien Gac</h4>
                                <p>Art Director &amp; Motion Designer</p>
                                <br />
                                <a class="linkedin" href="https://www.linkedin.com/in/priscilliengac" title="Follow Priscillien Gac onlinkedin" target="_blank">
                                    Priscillien Gac on linkedin
                                </a>
                                <a class="instagram" href="https://www.instagram.com/priscillien/" title="Follow Priscillien Gac oninstagram" target="_blank">
                                    Priscillien Gac on instagram
                                </a>
                                <a class="twitter" href="https://twitter.com/priscilliengac" title="Follow Priscillien Gac ontwitter" target="_blank">
                                    Priscillien Gac on twitter
                                </a>
                            </div>
                        </div>
                    </div>
                    <div
                        class="bulle bulle-mate developer employee"
                        data-id="162"
                        data-type="employee"
                        data-x="3.0034637451171875,-18,72.00346374511719,139,72.00346374511719"
                        data-y="308.1284713745117,480,276.28125,343,304.1284713745117"
                        style="transform: matrix(1, 0, 0, 1, 144.007, 638.257); opacity: 1;"
                    >
                        <div class="transition-block bubble-wrapper" data-class="BlockColor" style="opacity: 1; transform: matrix(1, 0, 0, 1, 0, 0);">
                            <div class="image-wrapper">
                                <img src="https://www.fcinq.com/v3/wp-content/uploads/team/jeremy.jpg" alt="Jérémy Petrequin Lead Developer" />
                                <img src="https://www.fcinq.com/v3/wp-content/themes/fcinq/img/gradient.png" alt="" class="gradient" />
                                <img src="https://www.fcinq.com/v3/wp-content/uploads/team/jeremy_turquoise.jpg" alt="" class="color" />
                            </div>
                            <div class="bulle-mate-info">
                                <span class="close-bulle-mate-info"></span>
                                <h4>Jérémy Petrequin</h4>
                                <p>Lead Developer</p>
                                <br />
                                <a class="linkedin" href="https://fr.linkedin.com/in/jeremy-petrequin-31a556100" title="Follow Jérémy Petrequin onlinkedin" target="_blank">
                                    Jérémy Petrequin on linkedin
                                </a>
                            </div>
                        </div>
                    </div>
                    <div
                        class="bulle bulle-mate ux-designer creative employee"
                        data-id="156"
                        data-type="employee"
                        data-x="44,178,-2,114,194"
                        data-y="1313,700,572,549,522"
                        style="transform: matrix(1, 0, 0, 1, 388, 1074); height: 180px; width: 180px; opacity: 1;"
                    >
                        <div class="transition-block bubble-wrapper" data-class="BlockColor" style="opacity: 1; transform: matrix(1, 0, 0, 1, 0, 0);">
                            <div class="image-wrapper">
                                <img src="https://www.fcinq.com/v3/wp-content/uploads/team/eloise.jpg" alt="Eloïse Gaboriau Art Director - UX Designer" />
                                <img src="https://www.fcinq.com/v3/wp-content/themes/fcinq/img/gradient.png" alt="" class="gradient" />
                                <img src="https://www.fcinq.com/v3/wp-content/uploads/team/eloise_pink.jpg" alt="" class="color" />
                            </div>
                            <div class="bulle-mate-info">
                                <span class="close-bulle-mate-info" title=""></span>
                                <h4>Eloïse Gaboriau</h4>
                                <p>Art Director - UX Designer</p>
                                <br />
                                <a class="linkedin" href="https://fr.linkedin.com/in/eloïse-gaboriau-b9009440" title="Follow Eloïse Gaboriau onlinkedin" target="_blank">
                                    Eloïse Gaboriau on linkedin
                                </a>
                                <a class="instagram" href="https://www.instagram.com/eloisegab/" title="Follow Eloïse Gaboriau oninstagram" target="_blank">
                                    Eloïse Gaboriau on instagram
                                </a>
                            </div>
                        </div>
                    </div>
                    <div
                        class="bulle bulle-mate ux-designer creative employee"
                        data-id="154"
                        data-type="employee"
                        data-x="95.00346374511719,60,38,413,590"
                        data-y="571.1284713745117,544,665,231,267"
                        style="transform: matrix(1, 0, 0, 1, 1180, 564); opacity: 1;"
                    >
                        <div class="transition-block bubble-wrapper" data-class="BlockColor" style="opacity: 1; transform: matrix(1, 0, 0, 1, 0, 0);">
                            <div class="image-wrapper">
                                <img src="https://www.fcinq.com/v3/wp-content/uploads/team/quentin.jpg" alt="Quentin Sautour Art Director - UX Designer" />
                                <img src="https://www.fcinq.com/v3/wp-content/themes/fcinq/img/gradient.png" alt="" class="gradient" />
                                <img src="https://www.fcinq.com/v3/wp-content/uploads/team/quentin_purple.jpg" alt="" class="color" />
                            </div>
                            <div class="bulle-mate-info">
                                <span class="close-bulle-mate-info"></span>
                                <h4>Quentin Sautour</h4>
                                <p>Art Director - UX Designer</p>
                                <br />
                                <a class="linkedin" href="https://fr.linkedin.com/in/quentinsautour" title="Follow Quentin Sautour onlinkedin" target="_blank">
                                    Quentin Sautour on linkedin
                                </a>
                                <a class="twitter" href="https://twitter.com/kuentine" title="Follow Quentin Sautour ontwitter" target="_blank">
                                    Quentin Sautour on twitter
                                </a>
                            </div>
                        </div>
                    </div>
                    <div
                        class="bulle bulle-mate motion-designer creative employee"
                        data-id="152"
                        data-type="employee"
                        data-x="99.00346374511719,159,218,425,400"
                        data-y="1014.1285095214844,991,721,671,473"
                        style="transform: matrix(1, 0, 0, 1, 800, 976); opacity: 1;"
                    >
                        <div class="transition-block bubble-wrapper" data-class="BlockColor" style="opacity: 1; transform: matrix(1, 0, 0, 1, 0, 0);">
                            <div class="image-wrapper">
                                <img
                                    src="https://www.fcinq.com/v3/wp-content/uploads/team/kevin.jpg"
                                    alt="Kevin Ronceray Art Director &amp; Motion
                  Designer"
                                />
                                <img src="https://www.fcinq.com/v3/wp-content/themes/fcinq/img/gradient.png" alt="" class="gradient" />
                                <img src="https://www.fcinq.com/v3/wp-content/uploads/team/kevin_turquoise.jpg" alt="" class="color" />
                            </div>
                            <div class="bulle-mate-info">
                                <span class="close-bulle-mate-info"></span>
                                <h4>Kevin Ronceray</h4>
                                <p>Art Director &amp; Motion Designer</p>
                                <br />
                                <a class="linkedin" href="https://fr.linkedin.com/in/kevinronceray" title="Follow Kevin Ronceray onlinkedin" target="_blank">
                                    Kevin Ronceray on linkedin
                                </a>
                                <a class="instagram" href="https://www.instagram.com/kevinronceray/" title="Follow Kevin Ronceray oninstagram" target="_blank">
                                    Kevin Ronceray on instagram
                                </a>
                                <a class="twitter" href="https://twitter.com/kevinronceray" title="Follow Kevin Ronceray ontwitter" target="_blank">
                                    Kevin Ronceray on twitter
                                </a>
                            </div>
                        </div>
                    </div>
                    <div
                        class="bulle bulle-mate developer partner"
                        data-id="144"
                        data-type="partner"
                        data-x="82,51.00346374511719,74,54.00346374511719,227"
                        data-y="350,372.28124618530273,432,122.28125,270"
                        style="transform: matrix(1, 0, 0, 1, 454, 570); opacity: 1;"
                    >
                        <div class="transition-block bubble-wrapper" data-class="BlockColor" style="opacity: 1; transform: matrix(1, 0, 0, 1, 0, 0);">
                            <div class="image-wrapper">
                                <img src="https://www.fcinq.com/v3/wp-content/uploads/team/gwendoline.jpg" alt="Gwendoline Gendron Technical Director" />
                                <img src="https://www.fcinq.com/v3/wp-content/themes/fcinq/img/gradient.png" alt="" class="gradient" />
                                <img src="https://www.fcinq.com/v3/wp-content/uploads/team/gwendoline_pink.jpg" alt="" class="color" />
                            </div>
                            <div class="bulle-mate-info">
                                <span class="close-bulle-mate-info"></span>
                                <h4>Gwendoline Gendron</h4>
                                <p>Technical Director</p>
                                <br />
                                <a class="linkedin" href="https://fr.linkedin.com/in/gwendoline-gendron-958949a" title="Follow Gwendoline Gendron onlinkedin" target="_blank">
                                    Gwendoline Gendron on linkedin
                                </a>
                                <a class="twitter" href="https://twitter.com/azalys" title="Follow Gwendoline Gendron ontwitter" target="_blank">
                                    Gwendoline Gendron on twitter
                                </a>
                            </div>
                        </div>
                    </div>
                    <div
                        class="bulle bulle-mate ux-designer creative partner"
                        data-id="142"
                        data-type="partner"
                        data-x="82.00346374511719,153,302.0034637451172,100,123"
                        data-y="469.1284713745117,478,267.28125,652,384"
                        style="transform: matrix(1, 0, 0, 1, 246, 798); opacity: 1;"
                    >
                        <div class="transition-block bubble-wrapper" data-class="BlockColor" style="opacity: 1; transform: matrix(1, 0, 0, 1, 0, 0);">
                            <div class="image-wrapper">
                                <img
                                    src="https://www.fcinq.com/v3/wp-content/uploads/team/stephane.jpg"
                                    alt="Stéphane Villareal Creative Director - UX
                  Designer"
                                />
                                <img src="https://www.fcinq.com/v3/wp-content/themes/fcinq/img/gradient.png" alt="" class="gradient" />
                                <img src="https://www.fcinq.com/v3/wp-content/uploads/team/stephane_blue.jpg" alt="" class="color" />
                            </div>
                            <div class="bulle-mate-info">
                                <span class="close-bulle-mate-info"></span>
                                <h4>Stéphane Villareal</h4>
                                <p>Creative Director - UX Designer</p>
                                <br />
                                <a class="linkedin" href="https://fr.linkedin.com/in/stephanevillareal/fr" title="Follow Stéphane Villareal onlinkedin" target="_blank">
                                    Stéphane Villareal on linkedin
                                </a>
                                <a
                                    class="twitter"
                                    href="https://twitter.com/cestsakebon"
                                    title="Follow
                  Stéphane Villareal ontwitter"
                                    target="_blank"
                                >
                                    Stéphane Villareal on twitter
                                </a>
                            </div>
                        </div>
                    </div>
                    <div
                        class="bulle bulle-mate ux-designer creative partner"
                        data-id="140"
                        data-type="partner"
                        data-x="10.003463745117188,12.003463745117188,296.0034637451172,191,322"
                        data-y="618.1284713745117,734.28125,503.28125,428,565"
                        style="transform: matrix(1, 0, 0, 1, 644, 1160); opacity: 1;"
                    >
                        <div class="transition-block bubble-wrapper" data-class="BlockColor" style="opacity: 1; transform: matrix(1, 0, 0, 1, 0, 0);">
                            <div class="image-wrapper">
                                <img src="https://www.fcinq.com/v3/wp-content/uploads/team/michael-noiville-300x300-1.jpg" alt="Michael Noiville Creative Director" />
                                <img src="https://www.fcinq.com/v3/wp-content/themes/fcinq/img/gradient.png" alt="" class="gradient" />
                                <img src="https://www.fcinq.com/v3/wp-content/uploads/team/michael-noiville-300x300-1_pink.jpg" alt="" class="color" />
                            </div>
                            <div class="bulle-mate-info">
                                <span class="close-bulle-mate-info"></span>
                                <h4>Michael Noiville</h4>
                                <p>Creative Director</p>
                                <br />
                                <a class="linkedin" href="https://fr.linkedin.com/in/noivillem" title="Follow Michael Noiville onlinkedin" target="_blank">
                                    Michael Noiville on linkedin
                                </a>
                                <a class="instagram" href="https://www.instagram.com/__________mic/" title="Follow Michael Noiville oninstagram" target="_blank">
                                    Michael Noiville on instagram
                                </a>
                                <a class="twitter" href="https://twitter.com/ACIDCOM" title="Follow Michael Noiville ontwitter" target="_blank">
                                    Michael Noiville on twitter
                                </a>
                            </div>
                        </div>
                    </div>
                    <div
                        class="bulle bulle-mate ux-designer creative founder partner"
                        data-id="113"
                        data-type="founder"
                        data-x="102.00346374511719,130,175.0034637451172,296,363.0034637451172"
                        data-y="143.12847137451172,256,189.28125,122,155.12847137451172"
                        style="transform: matrix(1, 0, 0, 1, 726.007, 340.257); opacity: 1;"
                    >
                        <div class="transition-block bubble-wrapper" data-class="BlockColor" style="opacity: 1; transform: matrix(1, 0, 0, 1, 0, 0);">
                            <div class="image-wrapper">
                                <img src="https://www.fcinq.com/v3/wp-content/uploads/team/josue.jpg" alt="Josué Pichot Creative Director" />
                                <img src="https://www.fcinq.com/v3/wp-content/themes/fcinq/img/gradient.png" alt="" class="gradient" />
                                <img src="https://www.fcinq.com/v3/wp-content/uploads/team/josue_turquoise.jpg" alt="" class="color" />
                            </div>
                            <div class="bulle-mate-info">
                                <span class="close-bulle-mate-info"></span>
                                <h4>Josué Pichot</h4>
                                <p>Creative Director</p>
                                <br />
                                <a class="linkedin" href="https://fr.linkedin.com/in/jopichot/fr" title="Follow Josué Pichot onlinkedin" target="_blank">
                                    Josué Pichot on linkedin
                                </a>
                                <a class="twitter" href="https://twitter.com/jozue" title="Follow Josué Pichot ontwitter" target="_blank">
                                    Josué Pichot on twitter
                                </a>
                            </div>
                        </div>
                    </div>
                    <div
                        class="bulle bulle-mate developer founder partner"
                        data-id="111"
                        data-type="founder"
                        data-x="0.0034637451171875,-2,35,172,203"
                        data-y="203.12847137451172,186,124,207,123"
                        style="transform: matrix(1, 0, 0, 1, 406, 276); opacity: 1;"
                    >
                        <div class="transition-block bubble-wrapper" data-class="BlockColor" style="opacity: 1; transform: matrix(1, 0, 0, 1, 0, 0);">
                            <div class="image-wrapper">
                                <img src="https://www.fcinq.com/v3/wp-content/uploads/team/sebastien.jpg" alt="Sébastien Ayxandri Technical Director" />
                                <img src="https://www.fcinq.com/v3/wp-content/themes/fcinq/img/gradient.png" alt="" class="gradient" />
                                <img src="https://www.fcinq.com/v3/wp-content/uploads/team/sebastien_blue.jpg" alt="" class="color" />
                            </div>
                            <div class="bulle-mate-info">
                                <span class="close-bulle-mate-info"></span>
                                <h4>Sébastien Ayxandri</h4>
                                <p>Technical Director</p>
                                <br />
                                <a class="linkedin" href="http://fr.linkedin.com/in/sebastienayxandri" title="Follow Sébastien Ayxandri onlinkedin" target="_blank">
                                    Sébastien Ayxandri on linkedin
                                </a>
                                <a class="twitter" href="https://twitter.com/gdzami" title="Follow Sébastien Ayxandri ontwitter" target="_blank">
                                    Sébastien Ayxandri on twitter
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

<footer id="footer" class="text-center py-4">
    <div class="container">
        <div class="d-flex justify-content-between">
            <span>
                ©
                <script>
                    document.write(new Date().getFullYear());
                </script>
                All rights reserved.
            </span>
            <ul class="list-unstyled d-flex m-0">
                <li class="me-3"><a href="#">Privacy Policy</a></li>
                <li><a href="#">Terms of use</a></li>
            </ul>
        </div>
    </div>
</footer>


<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
<script>

    <%# Add aos animation using js %>
    $( document ).ready(function() {
        jQuery(".bulle-mate").attr('data-aos', 'fade-up').attr('data-aos-duration', '1000')
         setTimeout(() => {
            AOS.init();
        }, 1200);
    });

    jQuery(".small-info.hover").click(function () {
        let filterClass = jQuery(this).attr("data-filter");

        jQuery(".bulle-mate").removeClass("open");
        jQuery(".bulle-mate").find(".bulle-mate-info").removeClass("show");
        jQuery(".bulle-mate").find(".image-wrapper").css("transform", "scale(1)");

        if (jQuery(this).hasClass("active")) {
            jQuery(".big-info").css("opacity", "1").removeClass("disabled");
            jQuery(".small-info").css("opacity", "1").removeClass("disabled");
            jQuery(".bulle-mate").css("opacity", "1").removeClass("disabled");
            jQuery("." + filterClass)
                .css("opacity", "1")
                .removeClass("disabled");
            jQuery(this).css("opacity", "1").removeClass("active");
        } else {
            jQuery(".big-info").css("opacity", "0.1").addClass("disabled");
            jQuery(".small-info").css("opacity", "0.1").addClass("disabled");
            jQuery(".bulle-mate").css("opacity", "0.1").addClass("disabled");
            jQuery("." + filterClass)
                .css("opacity", "1")
                .removeClass("disabled");
            jQuery(this).css("opacity", "1").removeClass("disabled").addClass("active");
        }
    });

    jQuery(".bulle-mate").click(function () {
        jQuery(".bulle-mate").removeClass("open");
        jQuery(".bulle-mate").find(".bulle-mate-info").removeClass("show");
        jQuery(".bulle-mate").find(".image-wrapper").css("transform", "scale(1)");
        if (jQuery(this).find(".bulle-mate-info").hasClass("show")) {
            jQuery(this).find(".image-wrapper").css("transform", "scale(1)");
        } else {
            if(!jQuery(this).hasClass('disabled')){
                jQuery(this).find(".image-wrapper").css("transform", "scale(1.5)");
            }
        }

        if(!jQuery(this).hasClass('disabled')){
            jQuery(this).toggleClass("open");
            jQuery(this).find(".bulle-mate-info").toggleClass("show");
        }
    });

    jQuery(".close-bulle-mate-info").click(function (event) {
        event.stopPropagation();
        jQuery(".bulle-mate").removeClass("open");
        jQuery(".bulle-mate").find(".bulle-mate-info").removeClass("show");
        jQuery(".bulle-mate").find(".image-wrapper").css("transform", "scale(1)");
    });
</script>
